// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;


$Green: #84bc2d;
$GreyBlack: #41453b;
$Black-light: #41453b49;
$Grey: #ffffff33;
$Red : #bc2d2d;
$Black: #000000;
$White: #ffff;